#divtest{
    height:580px;
    background-image: url("../images/rank/ph_b.jpg");
    background-size: 100% 100%;/*按比例缩放*/
    background-repeat: no-repeat;/*还有repeat-x,y等*/
    font-size: 15px;
    font-weight: 600;
}
#one{
    position: absolute;
    top: 36%;
    left: 39%;
}
#one .level_img{
    width: 80px;
}
#two{
    position: absolute;
    top: 44%;
    left: 9%;
}
#two .level_img{
    width: 70px;
}
.city span{
    padding-right: 4px;
}
.level{
    margin: 5px 10px 0px 0px;
    text-align: center;
}

#three{
    position: absolute;
    top: 44%;
    right: 5%;
}
#three .level_img{
    width: 70px;
}
#four{
    position: absolute;
    top: 77%;
    left: 40%;
}
#five{
    position: absolute;
    top: 87%;
    left: 40%;
}
.hg_01{
    position: absolute;
    width: 55px;
    top: -20px;
    left: 15%;
}
.hg_02{
    position: absolute;
    width: 45px;
    top: -20px;
    left: 16%;
}
.hg_03{
    position: absolute;
    width: 45px;
    top: -22px;
    left: 16%;
}
#one .city{
    padding-top: 8%;
    margin-left: -8%;
}